---
layout: default
title: Featured Positions
---

<h2>Featured Positions</h2>

<p>
  <a href="/featured/new/?utm_source=tcio_jobs_root">Learn more about featuring a position</a>
</p>

{% assign featured_positions = site.positions | where: "featured", "true" %}

{% if featured_positions.size == 0 %}
  <p>There are currently no featured positions.</p>
{% else %}
  {% for position in featured_positions %}
    {% include position.html position=position %}
  {% endfor %}
{% endif %}

<p>
  <a href="/positions/">See all {{ site.positions.size }} positions &rarr;</a>
</p>
