<details>
  <summary><a style="cursor: pointer">Notice something about this posting that needs to be changed?</a></summary>

  <small>
    <p>You can propose changes to this page using GitHub.  All changes are reviewed by an administrator before they're accepted and published.  The change history is public and can be reviewed by anyone.</a>

    <table class="table">
      <tbody>
        <tr>
          <th>
            <a href="{{ site.github_url }}/delete/master/{{ page.path }}" target="_blank" class="btn btn-xs btn-default">
              Delete
            </a>
          </th>
          <td>
            If this page should no longer exist, you can propose <strong>deleting</strong> it.
          </td>
        </tr>

        <tr>
          <th>
            <a href="{{ site.github_url }}/edit/master/{{ page.path }}" target="_blank" class="btn btn-xs btn-default">
              Edit
            </a>
          </th>

          <td>
            If this page has an error, you can propose <strong>edits</strong> to it.  Changing content happens rarely and is only accepted from contributors with at the organization in question or if there is a clear typographical error (such as a broken link).  We appreciate anyone taking the time to correct these issues.
          </td>
        </tr>
      </tbody>
    </table>
  </small>
</details>
