---
layout: default
---

{% assign organization = page %}
{% include organization.html organization=organization %}

{{ content }}

<p>
  {% if organization.website_url %}
    <a href="{{ organization.website_url }}" target="_blank" class="btn btn-default btn-lg">
      {% assign url_parts = organization.url | split: '/' %}
      View Website
    </a>
  {% endif %}

  {% if organization.positions_url %}
    <a href="{{ organization.positions_url }}" target="_blank" class="btn btn-primary btn-lg">
      {% assign url_parts = organization.url | split: '/' %}
      View Positions
    </a>
  {% endif %}
</p>

<hr />

{% include edit.html %}

<hr />
