---
layout: default
---

{% assign organization = page %}
{% include organization.html organization=organization %}

<hr>

<p>
  {% if organization.positions_url %}
    <a href="{{ organization.positions_url }}" target="_blank" class="btn btn-primary">
      {% assign url_parts = organization.url | split: '/' %}
      View Positions
    </a>
  {% endif %}

  {% if organization.website_url %}
    <a href="{{ organization.website_url }}" target="_blank" class="btn btn-default">
      {% assign url_parts = organization.url | split: '/' %}
      View Website
    </a>
  {% endif %}

  <a href="{{ site.github_url }}/edit/master/{{ page.path }}" target="_blank" class="btn btn-default">
    Edit Page
  </a>
</p>

<hr>

{{ content }}

<hr>

{% include edit.html %}
