---
title: Featured Positions
---

<h2>Featured Positions</h2>

<% if job_engine.positions.featured.empty? %>
  <p>There are currently no featured positions.</p>
<% else %>
  <% job_engine.positions.featured.each do |position| %>
    <%= partial :position, locals: { position: position } %>
  <% end %>
<% end %>
